.selected {
    box-shadow: 0px 0px 4px #4C71FE;
}

.unselected {
    transition: all 1s
}
.unselected:hover {
    box-shadow: 0px 0px 4px #4C71FE;
}

.wrapper {
    width: 100%;
    padding: 3% 5% 3%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
}

.slide{
    transition: max-height 1s;
    max-height: 0;
}

.slide-down {
    max-height: 100px;
}

.slide-up {
    max-height: 0;
}

.service-task {
    padding: .4em .5em;
    display: inline-block;
    border-radius: 100px;
    transition: box-shadow 1s;
    margin: .3em;
}

.mark, .unmark:hover {
    box-shadow: 0 0 4px #4C71FE;
}

.task {
    padding: 5%;
}

div.date input {
    border: 0;
    margin-left: 2em;
    margin-top: .5em;
    height: 10%;
    font-size: 1.2em;
}